.gradient-bg {
    background: linear-gradient(0deg, #185CAD, #17304D);
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'robotDreamer';
    src: url('fonts/Robot Dreamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacialIndifference';
    src: url('fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.lines {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    pointer-events: none;
}

.openMenuButton {
    background-color: transparent;
    color: white;
    font-size: 4.2dvh;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    position: absolute;
    top: 1dvh;
    left: 1dvh;
    z-index: 2;
}

.title {
    font-family: robotDreamer;
    font-size: 3.8dvh;
    color: white;
    left: 5dvh;
    display: flex;
    position: relative;
    top: 2dvh;
    padding-left: 1.5dvh;
    margin: 0;
}

.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid white;
    width: 25dvh;
    height: 100dvh;
    background: linear-gradient(0deg, #185CAD, #17304D);
    z-index: 6;

    transform: translateX(-100%);
    transition: transform 0.3s ease;

    padding: 4dvh 2dvh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.side-panel.open {
    transform: translateX(0);
}

.closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 1dvh;
    top: 0.5dvh;
    font-size: 2dvh;
    font-family: glacialIndifference;
    font-weight: bold;
}

.links {
    display: flex;
    font-size: 2dvh;
    text-align: center;
    max-width: 15dvh;
    min-width: 15dvh;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    text-decoration: none;
    position: relative;
    padding: 1.5dvh 2dvh;
    background-color: #76A5F1;
    border-radius: 9px;
    margin: 2dvh;
}

.logout-link {
    position: relative; 
    margin-top: auto; 
    background-color: transparent; 
    pointer-events: auto;
    margin-bottom: 6dvh;
}

.profile-image {
    display: flex;
    max-width: 15dvh;
    max-height: 15dvh;
    border-radius: 50%;
}

.name {
    margin-bottom: 4dvh;
    font-size: 2dvh;
    color: white;
    font-family: Montserrat;
}

.closeButtonImage {
    width: 2dvh;
    margin-top: 1dvh;
}

.overlay {
    width: 100%;
    height: 100dvh;
    background: linear-gradient(0deg, #185CAD, #17304D);
    /*opacity: 0;
    transition: opacity 0.3s ease;*/
    opacity: 0.65;
    position: absolute;
    z-index: 4;

    transform: translateX(-100%);
    transition: transform 0.5s ease;


}

.overlay.show {
    pointer-events: auto;
    display: block;

    transform: translateX(0);

    /*opacity: 0.65;*/
}

body, html {
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #185CAD, #17304D);
    height: 100dvh;
    overflow-x: hidden;
}





.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px); /* fixed card width */
    justify-content: center; /* center incomplete rows */
    place-items: center;     /* center cards inside each cell */
    gap: 8.5dvh;
    padding: 2dvh;
    margin-top: 9dvh;         /* replaces top: 9dvh */
    z-index: 2;
}


.profileBlock {
    background-color: #9BADFF;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 20dvh;
    max-height: 20dvh;
    width: 25dvh;
    max-width: 25dvh;
    text-align: center;
    opacity: 0.7;
    cursor: pointer;
}

.profileBlock:hover {
    opacity: 1;
}

.profileImage {
    width: 10dvh;
    height: auto;
    border-radius: 50%;
}

.name {
    margin-top: 1dvh;
    padding: 0;
    margin-bottom: 0.5dvh;
    font-weight: 700;
    font-family: glacialIndifference;
}

.class {
    margin: 0;
    padding: 0;
    font-family: glacialIndifference;
}