.gradient-bg {
    background: linear-gradient(0deg, #150F34, #49318f);
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 0;
}

body, html {
    overflow-x: hidden;
    background: linear-gradient(180deg, #150F34, #49318f);
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
 }

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'robotDreamer';
    src: url('fonts/Robot Dreamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacialIndifference';
    src: url('fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.header {
    width: 100%;
    padding-top: 1vh;
    left: 2vh;
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.lines {
    z-index: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.openMenuButton {
    background-color: transparent;
    color: white;
    font-size: 4.2vh;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    z-index: 2;
    padding-left: 1vh;
    padding-right: 1vh;
}

.title {
    font-family: robotDreamer;
    font-size: 4vh;
    color: white;
    display: flex;
    margin: 0;
    z-index: 2;
    padding-top: 0.7vh;
}

.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid white;
    width: 25vh;
    height: 100vh;
    background: linear-gradient(0deg, #251B54, #5E42AF);
    z-index: 6;

    transform: translateX(-100%);
    transition: transform 0.3s ease;

    padding: 4vh 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.side-panel.open {
    transform: translateX(0);
}

.closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 1vh;
    top: 0.5vh;
    font-size: 2vh;
    font-family: glacialIndifference;
    font-weight: bold;
}

.links {
    display: flex;
    font-size: 2vh;
    text-align: center;
    max-width: 15vh;
    min-width: 15vh;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    text-decoration: none;
    position: relative;
    padding: 1.5vh 2vh;
    background-color: #633C9B;
    border-radius: 9px;
    margin: 2vh;
}

.logout-link {
    position: relative; 
    margin-top: auto; 
    background-color: transparent; 
    pointer-events: auto;
    margin-bottom: 6vh;
}

.profile-image {
    display: flex;
    max-width: 15vh;
    max-height: 15vh;
    border-radius: 50%;
}

.name {
    margin-bottom: 4vh;
    font-size: 2vh;
    color: white;
    font-family: Montserrat;
}

.closeButtonImage {
    width: 2vh;
    margin-top: 1vh;
}

.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #251B54, #5E42AF);
    /*opacity: 0;
    transition: opacity 0.3s ease;*/
    opacity: 0.65;
    position: absolute;
    z-index: 4;

    transform: translateX(-100%);
    transition: transform 0.5s ease;


 }

 .overlay.show {
    pointer-events: auto;
    display: block;

    transform: translateX(0);

    /*opacity: 0.65;*/
}