.gradient-bg {
    background: linear-gradient(0deg, #144784, #0F1E30);
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'robotDreamer';
    src: url('fonts/Robot Dreamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacialIndifference';
    src: url('fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.lines {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    pointer-events: none;
}

.header {
    width: 100%;
    padding-top: 1dvh;
    padding-left: 1dvh;
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: fixed;
}

.openMenuButton {
    background-color: transparent;
    color: white;
    font-size: 4.2dvh;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    z-index: 2;
    padding-left: 1dvh;
    padding-right: 1dvh;
}

.title {
    font-family: robotDreamer;
    font-size: 4dvh;
    color: white;
    display: flex;
    margin: 0;
    z-index: 3;
    padding-top: 0.7dvh;
}

.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid white;
    width: 25dvh;
    height: 100dvh;
    background: linear-gradient(0deg, #144784, #0F1E30);
    z-index: 6;

    transform: translateX(-100%);
    transition: transform 0.3s ease;

    padding: 4dvh 2dvh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.side-panel.open {
    transform: translateX(0);
}

.closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 1dvh;
    top: 0.5dvh;
    font-size: 2dvh;
    font-family: glacialIndifference;
    font-weight: bold;
}

.links {
    display: flex;
    font-size: 2dvh;
    text-align: center;
    max-width: 15dvh;
    min-width: 15dvh;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    text-decoration: none;
    position: relative;
    padding: 1.5dvh 2dvh;
    background-color: #76A5F1;
    border-radius: 9px;
    margin: 2dvh;
}

.logout-link {
    position: relative; 
    margin-top: auto; 
    background-color: transparent; 
    pointer-events: auto;
    margin-bottom: 6dvh;
}

.profile-image {
    display: flex;
    max-width: 15dvh;
    max-height: 15dvh;
    border-radius: 50%;
}

.name {
    margin-bottom: 4dvh;
    font-size: 2dvh;
    color: white;
    font-family: Montserrat;
}

.closeButtonImage {
    width: 2dvh;
    margin-top: 1dvh;
}

.overlay {
    width: 100%;
    height: 100dvh;
    background: linear-gradient(0deg, #144784, #0F1E30);
    /*opacity: 0;
    transition: opacity 0.3s ease;*/
    opacity: 0.65;
    position: absolute;
    z-index: 4;

    transform: translateX(-100%);
    transition: transform 0.5s ease;


 }

 .overlay.show {
    pointer-events: auto;
    display: block;

    transform: translateX(0);

    /*opacity: 0.65;*/
  }

 body, html {
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #144784, #0F1E30);
    height: 100dvh;
    overflow-x: hidden;
 }


 .class {
    position: fixed;
    font-family: robotDreamer;
    font-size: 3.8dvh;
    color: white;
    left: 5dvh;
    display: flex;
    top: 2dvh;
    padding-left: 1.5dvh;
    margin: 0;
    z-index: 3;
}


.firstrow {
    z-index: 2;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

.userProfile {
    width: 60dvh;
    z-index: 2;
    border-radius: 26px;
    position: relative;
    pointer-events: all;
}

.nameCard {
    z-index: 2;
    font-size: 8dvh;
    font-family: robotDreamer;
    margin: 0;
    pointer-events: all;
}

.email {
    font-family: Montserrat;
    pointer-events: all;
}

.rightColumn {
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.requestButton {
    z-index: 2;
    width: 24dvh;
    height: 4dvh;
    font-size: 1.5dvh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-family: Montserrat;
    background-color: #6A84BF;
    position: fixed;
    bottom: 4vh;
}

.verticalLayout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.section2 {
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20dvh;
    padding-right: 20dvh;
    margin-bottom: 0dvh;
}

.phoneNumberLabel {
    font-family: glacialIndifference;
    font-weight: bold;
    margin-bottom: 0dvh;
    font-size: 3dvh;
}

.phoneNumber {
    padding: 1dvh;
    font-family: Montserrat;
    padding-left: 2dvh;
    padding-right: 2dvh;
    background-color: #323D72;
    width: fit-content;
    border-radius: 9px;
    font-size: 2dvh;
}

.labelRequestedMembers{
    font-family: glacialIndifference;
    font-weight: bold;
    margin-bottom: 0dvh;
    font-size: 3dvh;
}

.requestedMember {
    padding: 1dvh;
    padding-left: 2dvh;
    padding-right: 2dvh;
    background-color: #323D72;
    font-family: Montserrat;
    width: fit-content;
    border-radius: 9px;
    font-size: 2dvh;
}

.memberRow {
    display: flex;
    flex-direction: row;
    gap: 2dvh;
}

.technicalSkillsLabel {
    font-family: glacialIndifference;
    font-weight: bold;
    margin-bottom: 0dvh;
    font-size: 3dvh;
}

.technicalSkills {
    padding: 1dvh;
    padding-left: 2dvh;
    padding-right: 2dvh;
    font-family: Montserrat;
    background-color: #323D72;
    width: fit-content;
    border-radius: 9px;
    font-size: 2dvh;
}

.softSkillsLabel {
    font-family: glacialIndifference;
    font-weight: bold;
    margin-bottom: 0dvh;
    font-size: 3dvh;
}

.softSkills {
    padding: 1dvh;
    padding-left: 2dvh;
    padding-right: 2dvh;
    font-family: Montserrat;
    background-color: #323D72;
    width: fit-content;
    border-radius: 9px;
    font-size: 2dvh;
}

.skillrow {
    display: flex;
    flex-direction: row;
    gap: 4dvh;
}