body, html {
    padding: 0;
    margin: 0;
    height: 100dvh;
    background-color: transparent;
    overflow: hidden;
}

.gradient-bg {
    background: linear-gradient(0deg, #144784, #0f1e30);
    position: fixed;
    inset: 0;
    z-index: -3;
}

.backgroundthing {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.lines {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'robotDreamer';
    src: url('fonts/Robot Dreamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacialIndifference';
    src: url('fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.main-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100dvh;
    flex-direction: column;
}

.title {
    font-family: robotDreamer;
    margin: 0 0 2dvh 0;
    color: white;
    font-weight: bolder;
    text-align: left;
    width: inherit;
    font-size: 6dvh;
    padding-bottom: 0dvh;
}

.title-wrapper {
    width: fit-content;
    margin: 0 auto;
}


.back-arrow {
    background-color: transparent;
    border: none;
    width: 4dvh;
    height: auto;
    top: 3dvh;
    left: 2.5dvh;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.back-arrow-img {
    width: inherit;
    height: inherit;
}

.imageuploader {
    font-family: Montserrat;
    width: 65dvh;
    height: 45dvh;
    border: 2px solid #323d72;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #2c446b;
    overflow: hidden;
    object-fit: cover;
    text-align: center;
    font-size: 4dvh;
    color: rgba(255, 255, 255, 0.522);
    flex-direction: column;
}

.imageuploader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
}

.imageandrows {
    display: flex;
    flex-direction: row;
    padding-top: 1dvh;
    padding-bottom: 2dvh;
    width: auto;

}

.row1 {
    display: flex;
    flex-direction: row !important;
    padding-bottom: 2dvh;
    padding-left: 7dvh;
}

.row2 {
    display: flex;
    flex-direction: row;
    padding-bottom: 2dvh;
    padding-left: 7dvh;
}

.row3 {
    padding-left: 7dvh;
    display: flex;
    flex-direction: row;
    padding-bottom: 2dvh;
    gap: 2dvh;
}

.row4 {
    padding-left: 7dvh;
    display: flex;
    flex-direction: row;
    gap: 2dvh;
    padding-bottom: 2dvh;
}

.row5 {
    display: flex;
    flex-direction: row !important;
    padding-bottom: 2dvh;
    padding-left: 7dvh;
}

.skillrow {
    display: flex;
    flex-direction: row;
    width: auto;
}

.rowslayout{
    display: flex;
    flex-direction: column;
    padding-left: 3dvh;
}

.input-group {
    display: flex;
    gap: 20px;
}
  
.field {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
 

.field2 {
    display: flex;
    flex-direction: column;
    padding-left: 4dvh;
}


label {
    margin-bottom: 0; 
    font-family: Montserrat;
    color: white;
    font-size: 2dvh;
}

.labelPreferredName {
    display: block;
}

.classDropdown {
    padding-left: 6dvh;
    padding-top: 0dvh;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.classDropdown select {
    width: 40dvh !important;
    height: 3.6dvh;
    cursor: pointer;
}

.buttonLayout {
    width: 100%;
    display: flex;
    justify-content: center;
}

.personDropdown {
    margin-left: 0dvh;
    align-self: center;
    margin-bottom: 0;
    margin-top: auto;
    padding: 0;
}

.personDropdown1 {
    padding-left: 0dvh;
    align-self: center;
    padding-top: 0.5dvh;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.personDropdown select {
    width: 27.2dvh !important;
    height: 3.6dvh;
    cursor: pointer;
}

.personDropdown1 select {
    width: 27.2dvh !important;
    height: 3.6dvh;
    cursor: pointer;
}

.submitButton {
    width: 12dvh;
    height: 4dvh;
    font-size: 1.5dvh;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-family: Montserrat;
    background-color: #6A84BF;
    font-weight: bold;
}


input[type=text], select {
    padding: 12px;
    width: 37.5dvh;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    background-color: #334E79;
    color: white;
}


.placeholder-select {
    color: #999;
}

.placeholder-select:valid {
    color: white;
}


.inputTechnicalSkills, .inputSoftSkills {
    width: 80dvh !important;
    height: 10dvh;
    resize: vertical;
    box-sizing: border-box;
    line-height: 1.5;
    padding: 10px;
    background-color: #334E79;
    color: white;
    border: none;
    resize: none;
    border-radius: 5px;
}

.centeringstuff {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2dvh;
    padding-top: 0dvh;
    align-items: center;
}

.textarea-wrapper {
    position: relative;
    width: fit-content;
}

.techCharCount,
.softCharCount {
    position: absolute;
    bottom: 8px;
    right: 12px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Montserrat;
    font-size: 1.2dvh;
    pointer-events: none;
}

.inputTechnicalSkills,
.inputSoftSkills {
    padding-bottom: 30px;
}

.labelTechnicalSkills, .labelSoftSkills {
    margin: 8px 0;
}