.gradient-bg {
    background: linear-gradient(0deg, #147084, #0F1E30);
    position: fixed;
    inset: 0;
    z-index: 0;
    min-height: 100%;
    pointer-events: none;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'robotDreamer';
    src: url('fonts/Robot Dreamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacialIndifference';
    src: url('fonts/GlacialIndifference-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.lines {
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}



.openMenuButton {
    background-color: transparent;
    color: white;
    font-size: 4.2vh;
    border: none;
    cursor: pointer;
    font-family: Montserrat;
    position: absolute;
    top: 1vh;
    left: 1vh;
    z-index: 2;
}

.side-panel {
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid white;
    width: 25vh;
    height: 100vh;
    background: linear-gradient(0deg, #147084, #0F1E30);
    z-index: 6;

    transform: translateX(-100%);
    transition: transform 0.3s ease;

    padding: 4vh 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.side-panel.open {
    transform: translateX(0);
}

.closeButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 1vh;
    top: 0.5vh;
    font-size: 2vh;
    font-family: glacialIndifference;
    font-weight: bold;
}

.links {
    display: flex;
    font-size: 2vh;
    text-align: center;
    max-width: 15vh;
    min-width: 15vh;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    text-decoration: none;
    position: relative;
    padding: 1.5vh 2vh;
    background-color: #2C656B;
    border-radius: 9px;
    margin: 2vh;
}

.logout-link {
    position: relative; 
    margin-top: auto; 
    background-color: transparent; 
    pointer-events: auto;
    margin-bottom: 6vh;
}

.profile-image {
    display: flex;
    max-width: 15vh;
    max-height: 15vh;
    border-radius: 50%;
}

.name {
    margin-bottom: 4vh;
    font-size: 2vh;
    color: white;
    font-family: Montserrat;
}

.closeButtonImage {
    width: 2vh;
    margin-top: 1vh;
}

.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #147084, #0F1E30);
    /*opacity: 0;
    transition: opacity 0.3s ease;*/
    opacity: 0.65;
    position: absolute;
    z-index: 4;

    transform: translateX(-100%);
    transition: transform 0.5s ease;
 }

 .overlay.show {
    pointer-events: auto;
    display: block;

    transform: translateX(0);

    /*opacity: 0.65;*/
  }

 body, html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(180deg, #147084, #0F1E30);
    height: 100vh;
 }


 .title {
    font-family: robotDreamer;
    font-size: 7vh;
    color: white;
    font-weight: bolder;
    display: flex;
    position: relative;
    text-decoration: underline;
    
}

.main-layout {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 5vh;
    z-index: 2;
}



.main-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.memberGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4vh;
    max-width: 90vh;
    margin: 6vh auto 0 auto;
    justify-content: center;
    position: relative;
    padding-bottom: 4vh;
}


 .leaderBlock {
    background-color: #2C656B;
    width: 45vh;
    height: 35vh;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    cursor: pointer;
 }

 .leaderProfile {
    width: 25vh;
    height: auto;
    border-radius: 50%;
 }

 .leaderName {
    color: white;
    font-family: Montserrat;
    font-size: 2vh;
    padding: 0;
    margin: 0;
    margin-top: 2vh;
 }

 .projectBlock {
    background-color: #2C656B;
    color: white;
    font-family: Montserrat;
    padding: 5vh;
    border-radius: 26px;
    width: 45vh;
    max-height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

 .projectTitle {
    font-size: 3vh;
    margin: 0;
    margin-bottom: 2vh;
 }

 .projectDescription {
    font-size: 2.5vh;
    margin: 0;
 }

 .top-row {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 5vh;
 }

 .memberProfile {
    width: 13vh;
    height: auto;
    border-radius: 50%;
    padding: 0;
    margin: 0;
 }

 .memberBlock {
    background-color: #2C656B;
    opacity: 0.7;
    color: white;
    font-family: Montserrat;
    padding: 5vh;
    border-radius: 26px;
    width: 14vh;
    max-height: 14vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    cursor: pointer;
 }

 .memberBlock:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    opacity: 1;
}